{% extends 'base.html' %}
{% load staticfiles compress %}

{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/vendors/jquery.raty.css'  %}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/inputmask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/jquery.inputmask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendors/jquery.raty.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/app.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.DATA_FOR_REVIEW = {{ data_for_review|safe }};
        window.ReactRouter.run(window.masterReviewRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>
{% endblock %}
