{% extends 'base.html' %}
{% load staticfiles compress i18n base_tags %}

{% block content %}
    <div id="app">
        <div class="content step wrpBalance">
            <h3>{% trans 'Отчет агента' %}</h3>
            <form class="agent-report-form brForm" method="post" action="" accept-charset="UTF-8">
                {% csrf_token %}
                {{form.month}}
                {{form.year}}
                <input class="button button-green selectRepair" type="submit" value="{% trans 'Сохранить PDF' %}">
            </form>
        </div>
    </div>
{% endblock %}
