{% extends 'base.html' %}
{% load staticfiles compress %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.CSRF_TOKEN = '{{ csrf_token }}';
        window.ReactRouter.run(window.coursesRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>
{% endblock %}
