{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}

{% trans "Поступил новый заказ на покупку" as text %}
{% include "emails/helpers/h1.html" with text=text only %}

{% trans "Модель:" as text %}
{% include "emails/helpers/p.html" with text=text text2=order.device_model_sell.get_short_str only %}

{% trans 'Удобное время:' as text %}
{% include "emails/helpers/p.html" with text=text text2=good_time only %}

{% trans 'Адресс:' as text %}
{% include "emails/helpers/p.html" with text=text text2=order.address only %}

{% trans 'Имя клиента:' as text %}
{% include "emails/helpers/p.html" with text=text text2=order.user only %}

{% if order.user.get_phone_type == 'FRIEND'%}
    {% trans 'Телефон друга клиента:' as text %}
{% else %}
    {% trans 'Телефон клиента:' as text %}
{% endif %}
{% include "emails/helpers/p.html" with text=text text2=order.user.get_phone.number only %}

{% trans 'Цена выкупа:' as text %}
{% trans 'руб.' as text3 %}
{% include "emails/helpers/p.html" with text=text text2=order.price text3=text3 only %}

{% trans 'Состояние:' as text %}
{% include "emails/helpers/p.html" with text=text text2=order.device_model_sell.status only %}

<ul>
    {% for desc in order.device_model_sell.status.get_descripion_list %}
        <li>{{desc}}</li>
    {% endfor %}
</ul>

{% trans "Ссылка в админку" as text %}
{% include "emails/helpers/button.html" with text=text link=admin_link only %}

{% trans "Ссылка в Google Maps" as text %}
{% include "emails/helpers/link.html" with text=text link=map_link only %}

{% endblock %}
