.content {
	margin-top: 90px;
	z-index: 99999;
}

.all-elements, #content, #app {
	position: relative !important;
}

.whiteBg {
	background-color: #fff;
}

#content {
	background-color: #304457;
	background-position: center center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.floatRight {
	float: right;
}

.hide {
	display: none;
}

.menuName {
	color: #fff;
	font-size: 16px;
	width: 40%;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	vertical-align: middle;
}

.overlay {
	top: 0
}

.mrTop .step {
	margin-top: 120px;
}

.step {
	padding-bottom: 20px;
	text-align: center;
}

.step h3 {
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
}

.step h4 {
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 40px;
}

.step h5 {
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
}

.selectBtn {
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	color: #FFFFFF;
	border: solid 2px #fff;
	border-radius: 5px;
	font-weight: 500;
	line-height: 98px;
	margin: 10px;
}

.soc-container {
	margin-bottom: -25px;
	background-color: #fff;
	margin-top: -1px;
}

.deviceColor.selectBtn:hover {
	opacity: 0.5;
	background-color: none;
}

.deviceColor.selectBtn {
	border-width: 1px;
}

.selectBtn:hover {
	background-color: rgba(255,255,255,0.1) !important;
	color: #FFFFFF;
}

.selectBtn:hover a {
	color: #FFFFFF !important;
	-webkit-filter: invert(0);
	filter: invert(0);
}

.step ul li{
	list-style-type: none;
}

.mobiscroll {
	overflow: initial;
}

.socCont {
	background-color: #fff;
	margin-bottom: 0;
	margin-top: -1px;
}

.whiteColor {
	color: #fff;
}

.footer p.center-text {
	color: #B4AAAA;
}

.footer {
	z-index: 99;
	background-color: #18222B;
	width: 100%;
	height: 55px;
}

.ddLangWrp {
	display: none;
}

.open-menu i {
	font-size: 22px;
}

@media (max-width: 660px) {
	.footer {
		margin-top: -4px;
	}

	div#app {
		padding-bottom: 0;
	}

	.ddList {
		display: block;
	}

	.ddLangWrp {
		width: 65px;
		height: 45px;
		position: absolute;
		right: 10px;
		top: 0;
		background-size: 35px;
		background-repeat: no-repeat;
		background-position: 30px 5px;
		margin-top: 5px;
	}

	.overflow-vis-footer {
		overflow: visible;
		z-index: 99999999;
	}

	.overflow-vis-footer p {
		padding-top: 5px;
		text-align: left;
	}
}

@media (min-width: 660px) {
	.ddLangHeader {
		width: 65px;
		height: 45px;
		position: absolute;
		right: 60px;
		top: 0;
		background-size: 35px;
		background-repeat: no-repeat;
		background-position: 30px 5px;
		margin-top: 8px;
	}

	.langBlock {
		display: none;
	}

	.overflow-vis-header {
		overflow: visible;
	}
}

.ddArrow {
	background-image: url(../images/ui/own-arrow-dd.png);
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	display: block;
}

.langArrowHeader {
	-moz-transform: rotate(0); /* Для Firefox */
	-ms-transform: rotate(0); /* Для IE */
	-webkit-transform: rotate(0); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(0); /* Для Opera */
	transform: rotate(0);
	margin-top: 20px;
	margin-left: 3px;
}

.ddUlLangHeader {
	top: 0;
	bottom: inherit;
	height: 153px;
}

.langArrow {
	-moz-transform: rotate(180deg); /* Для Firefox */
	-ms-transform: rotate(180deg); /* Для IE */
	-webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(180deg); /* Для Opera */
	transform: rotate(180deg);
	margin-top: 7px;
	margin-left: 7px;
}

.ddLink {
	width: 100%;
	height: 100%;
	color: #fff;
	display: table;
	text-align: center;
}

.ddLink span {
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
}

.ddLink:hover {
	color: #fff;
}

.ddList {
	overflow: visible;
}

.ddUl {
	display: none;
}

.ddUl li {
	list-style-type: none;
	color: #fff;
}

.ddUl li:hover {
	background-color: #44697E;
}

.openUl .ddUl {
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	margin-bottom: 0;
}

.ddUl li.titleLi {
	margin: 0;
	padding: 10px 0 0 10px;
}

.ddUl li.titleLi:hover {
	background-color: transparent;
}

.openUl .ddUlLang {
	bottom: 0;
	right: 0;
	width: 140px;
	height: 128px;
}

.ddUlLang li {
	color: #fff;
	padding: 0 10px;
	margin-bottom: 0;
}

.ddUlLang li i {
	width: 35px;
	height: 35px;
	display: inline-block;
	background-size: 35px;
}

.footer p {
	margin: 5px;
	line-height: initial;
}

.rub {
	font-family: 'PTMonoRegular';
}

.socialWrapp {
	margin-top: 10px;
	width: 250px;
	margin-bottom: -10px;
}

.socialWrapp a:hover {
	cursor: pointer;
}

h5.textLeft {
	text-align: left;
}

@media (max-width: 660px) {
	.step h3 {
		font-size: 20px;
	}

	.step h4 {
		font-size: 20px;
	}
}

.xdsoft_mounthpicker {
	overflow: visible;
}

.xdsoft_mounthpicker .xdsoft_label.xdsoft_month {
	overflow: visible;
}

.xdsoft_mounthpicker .xdsoft_label.xdsoft_year {
	overflow: visible;
}
.placesSuggest_suggests{
    width: 80% !important;
    margin-left: 57px !important;
    text-align: left !important;
    padding: 10px 9px 0px 3px !important;
    background: #fff !important;
    color:#4b5a5f !important;
}
@media (max-width: 480px) {
	.step h3 {
		font-size: 16px;
	}

	div.wrapperInputAddr .coverpage-button.afterBtnInpt {
		width: 150px;
	}

	.step h4 {
		font-size: 16px;
	}

	.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ {
		margin: auto;
		position: absolute;
		left: 0 !important;
		right: 0 !important;
		width: 90%;
	}

	.demos {
		width: 220px !important;
	}

	.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ .xdsoft_datepicker.active{
		width: 70%;
	}

	.xdsoft_datetimepicker.xdsoft_noselect.xdsoft_ .xdsoft_next {
		float: none;
	}

	.xdsoft_calendar {
		margin-top: 18px;
	}

	.xdsoft_mounthpicker {
		position: absolute;
		width: 140%;
	}

	.xdsoft_timepicker.active {
		position: absolute;
		right: 10px;
		top: 20px;
	}

	.xdsoft_mounthpicker .xdsoft_label.xdsoft_month {
		text-align: left;
	}

	.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select.xdsoft_monthselect {
		right: 15px;
	}

	.xdsoft_datetimepicker .xdsoft_year {
		width: 48px;
		margin-left: -25px;
	}

	.step h5.regionDiffh5 {
		line-height: normal;
		margin-top: 140px;
		font-weight: bold;
	}
}

h5.regionDiffh5 {
	font-weight: 500;
}

.priceDiff {
	min-width: 80px;
}

.problem h4 {
	line-height: 30px;
}

.wrEm .error.static-notification-red.clearBoth.tap-dismiss-notification {
	width: 30%;
	margin: 0 auto;
	padding: 0 5px;
}

.wrapperEmail .error.static-notification-red.clearBoth.tap-dismiss-notification {
	width: 100%;
}

.wrpErr {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: 0;
	margin-right: 0;
	top: 50px;
}

.timePickerInpt {
	display: block;
	width: 100%;
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 45px;
	line-height: 100%;
	border: solid 1px #cacaca;
	color: #666666;
	border-radius: 0;
}

.demos {
	width: 50%;
	margin: 0 auto;
}

.demos select.sellDate {
	display: block;
	margin: 0 auto 10px auto;
	width: 200px;
	text-indent: 5px;
	padding: 0;
}

.demos select {
	cursor: pointer;
	outline: none;
	width: 95px;
	margin: 0 5px;
	display: inline-block;
	padding-right: 0;
}

.demos .pseudoSelect:before {
	position: absolute;
	font-size: 16px;
	top: 14px;
	font-family: 'Fira Sans', sans-serif;
}

.demos .pseudoSelect.pseudoStartTime:before {
	position: absolute;
	content: "с";
	left: 28px;
}

.demos .pseudoSelect.pseudoEndtTime:before {
	position: absolute;
	content: "до";
	left: 23px;
}

.demos .inputData.startTimeSell {
	padding-left: 26px;
	text-indent: 6px;
}

.demos .inputData.endTimeSell {
	padding-left: 26px;
	text-indent: 9px;
}

.pseudoSelect {
	display: inline-block;
}

.demos select option {
	background-color: #7D91A7;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px 0;
	outline: none;
	text-align: center;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 99999999999;
	background-color: #191F24;
	background-image: none;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.open-menu i {
	position: fixed;
	top: 0;
	right: 0;
}

.openLeft .open-menu i {
	position: absolute;
}

.header-logo {
	margin: 17px auto 0 auto;
	width: 203px;
	height: 27px;
	position: initial;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.login-btn {
	color: #949494;
	position: absolute;
	right: 45px;
	top: 16px;
	border: 2px solid;
	padding: 1px 10px;
	border-radius: 6px;
	text-transform: uppercase;
}

.wrpLogin .wrapperDataInput,
.wrpMasSign .wrapperDataInput,
.wrEm .wrapperEmail {
	width: 300px;
}

@media only screen and (max-device-width: 680px) and (orientation: landscape) {
	.wrpLogin .wrapperDataInput {
		margin: 10px auto;
	}
	.wrpLogin .wrapperDataInput{
		margin: 10px auto;
		width: 80%;
	}

	div.wrpLogin .wrapperDataInput .wrpInptError:first-child {
		margin-bottom: 10px;
	}

	.wrpMasSign .wrapperDataInput, .wrpMasSign .wrEm .wrapperEmail {
		width: 55%;
	}

	.orderTable table.table {
		table-layout: fixed;
	}

	.orderTable table.table tr td {
		padding: 15px 0;
	}

	.wrpPref .one-half-responsive.preferences {
		width: 100%;
	}
}
.content.step.orderTable {
	margin-left: 15px;
	margin-right: 15px;
}

@media (max-width: 480px) {
	.orderTable table.table tr td:first-child {
		padding-left: 0;
		padding-right: 0;
		min-width: 53px;
	}

	.orderTable table.table tr td:nth-child(2) {
		padding-right: 0;
		padding-left: 0;
		min-width: 75px;
	}

	.orderTable table.table tr td:nth-child(3) {
		padding-left: 5px;
	}

	.orderTable table.table tr td:last-child {
		padding-left: 5px;
		padding-right: 0;
		min-width: 50px;
	}

	.demos select {
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
		text-indent: 18px;
	}

	div.demos select.sellDate {
		text-indent: 15px;
	}

	.demos .pseudoSelect:before {
		font-size: 12px;
	}

	.demos .pseudoSelect:before {
		top: 13px;
	}

	.demos .pseudoSelect.pseudoStartTime:before {
	    left: 36px;
	}

	.demos .inputData.startTimeSell {
	    padding-left: 29px;
	}

	.demos .pseudoSelect.pseudoEndtTime:before {
	    left: 30px;
	}

	.demos .inputData.endTimeSell {
	    padding-left: 29px;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	.wrpLogin .wrapperDataInput{
		width: 70%;
	}
}
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
	.orderTable table.table tr td:last-child {
		padding-left: 15px;
	}
}

.wrpLogin .wrapperDataInput .wrpInptError:first-child {
	margin-bottom: 15px;
}


button, input, a,
p, h1, h2, h3, h4,
h5, h6, span, ul, li,
td, select, option,
em, strong, div, pre {
	font-family: 'Fira Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

select {
	-moz-appearance: none;
}

/************selectDevice*************/

.wrpDeviceName {
	margin-left: 20%;
	margin-right: 20%;
}

.devNameh3 {
	margin-bottom: 30px;
}

.deviceName {
	width: 25%;
	height: 80px;
	line-height: 78px;
}

@media (min-width: 760px) {
	.deviceName {
		font-size: 20px;
	}

	.deviceName {
		margin: 15px;
	}
	.sideMarginForm {
		margin: 0 20%;
	}
}

@media (max-width: 1050px) {
	.wrpDeviceName {
		margin-left: 150px;
		margin-right: 150px;
	}
}

@media (max-width: 960px) {
	.wrpDeviceName {
		margin-left: 70px;
		margin-right: 70px;
	}
}

@media (max-width: 760px) {
	.deviceName {
		font-size: 16px;
	}

	.sideMarginForm {
		margin: 0;
	}
}

.mobileBr {
	display: none;
}

@media (max-width: 660px) {
	.mobileBr {
		display: block;
	}

	.deviceName {
		width: 45%;
		font-size: 16px;
	}

	.wrpDeviceName {
		margin-left: 30px;
		margin-right: 30px;
	}

	.wrEm .error.static-notification-red.clearBoth.tap-dismiss-notification {
		width: 100%;
	}
	div h5.partsInfo {
		text-align: left;
		line-height: normal;	}
}

h5.partsInfo {
	margin-left: 0;
    width: 100%;
    text-align: left;
    line-height: inherit;
    margin-top: 10px;
}

.dispInlBl {
	display: inline-block;
}

@media (max-width: 480px) {
	.deviceName {
		width: 40%;
		height: 60px;
		line-height: 60px;
		font-size: 14px;
	}

	.step .selectBtn:hover,
	.step .sellTimeBtn:hover,
	.step .wrpSellTime button:hover,
	.step .wrapperTelephone button:hover {
		background-color: transparent !important;
	}

	.login-btn {
		right: 50px;
	}

	.linkTd a {
		color: #fff;
	}
}

.territoryForm>div {
	width: 100%;
}

.checkboxMetroWrp {
	margin: 15px 0;
	font-size: 14px;
}

.checkboxMetroWrp span {
	color: #fff;
}

.inputMerto {
	display: inline-block;
	width: 45%;
	overflow: visible;
}

@media (max-width: 480px) {
	.territoryForm .one-half,
	.territoryForm .two-half {
		width: 100%;
	}

	.territoryForm .one-half h5 {
		text-align: center;
	}

	.multipleSelWrp div.two-half {
		width: 100%;
	}

	.inputMerto {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.deviceName {
		font-size: 12px;
	}
}
/************End selectDevice*************/

/***********selectModel**************/

.wrpDeviceModel {
	margin-left: 19%;
	margin-right: 19%;
}

.deviceModel {
	display: inline-block;
	font-size: 16px;
	margin: 15px 30px;
	width: 24%;
	height: 80px;
	line-height: 80px;
}


.devModelh3 {
	margin-bottom: 30px;
}

@media (min-width: 	1400px) {
	.wrpDeviceModel {
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media (max-width: 	1050px) {
	.deviceModel {
		font-size: 12px;
		width: 23%;
	}
}

@media (max-width: 	960px) {
	.deviceModel {
		margin: 15px 20px;
		width: 25%;
	}
}

@media (max-width: 	800px) {
	.wrpDeviceModel {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media (max-width: 660px) {
	.deviceModel {
		width: 29%;
	}
}

@media (max-width: 480px) {
	.deviceModel {
		width: 40%;
		margin: 10px 10px;
		height: 50px;
		line-height: 50px;
	}

	a.deviceStatus.active {
		height: 50px;
	}

	.wrpDeviceModel {
	    margin-left: 10%;
	    margin-right: 10%;
	}
}
/*************End selectModel***************/

/***********selectModelHelp**************/

.wrpDeviceModel p {
	font-size: 20px;
	color: white;
}

 a.helpLink {
 	font-size: 14px;
	color: white;
	width: 110px;
	text-decoration: none;
	text-align:center;
	border-bottom:2px dashed;
	margin-left: auto;
    margin-right: auto;
}

.deviceModel.table-style {
	display: table-cell;
	width: 15%;
}

.wrpModelHelp {
	display: table;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}

p.deviceModelNumber {
	display: table-cell;
	font-size: 18px;
	color: white;
	width: 100%;
	line-height: normal;
	margin-bottom: 0;
	padding-right: 20px;
	vertical-align: middle;
}

.wrpDeviceModel .wrpModelHelp a {
	display: table-cell;
	vertical-align: middle;
}

.devModelh3 {
	margin-bottom: 20px;
}
.wrpModelHelp button.selectBtn{
	display: table-cell;
	text-align: center;
	width: 100px;
	font-size: 13px;
	color: #FFFFFF;
	border: solid 2px white;
	border-radius: 5px;
	font-weight: 500;
	line-height: 55px;
	background-color: transparent;
	pointer-events:none;
	height: 55px;
	line-height: normal;
}

.wrpModelHelp button.coverage-button {
	display: table-cell;
	line-height: 25px;
	width: 80px;
	background-color: transparent;
	color: #49b2cf;
	border: solid 1px rgba(73,178,207,1.0);
	cursor: pointer;
	border-radius: 5px;
}

.wrpModelHelp button.coverage-button:hover {
	color: #fff;
	border: solid 1px #fff;
}

@media (max-width: 480px) {
	a.helpLink {
		line-height: 15px;
	}

	.wrpModelHelp button.coverage-button {
		width: 60px;
	}

	.wrpModelHelp button.selectBtn {
		width: 75px;
		height: 45px;
	}
}

@media (max-width: 660px) {
	.wrpDeviceModel p {
	 	font-size: 12px;
	}

	p.deviceModelNumber {
		width: 50%;
	}

	.deviceModel.table-style {
		width: 50%;
	}

	.devModelh3 {
		margin-bottom: 0;
	}

	.pHelp {
		line-height: normal;
	}
}

@media (min-width: 768px) {
	.wrpModelHelp {
		width: 80%;
	}
}

/***********End selectModelHelp**************/

/***********selectColor**************/
.deviceColor {
	width: 87%;
	height: 50px;
	line-height: 50px;
}

.devColorWrp {
	display: inline-block;
	width: 20%;
}

.deviceColor a {
	display: block;
	width: 100%;
	height: 100%;
}

.devColorWrp img {
	max-width: 65%;
	margin: 0 auto;
}

@media (max-width: 660px) {
	.deviceColor {
		width: 87%;
	}

	.devColorWrp {
		display: inline-block;
		width: 30%;
	}
}

@media (max-width: 480px) {
	.deviceColor {
		width: 87%;
		font-size: 12px;
	}

	.devColorWrp {
		width: 50%;
	}
}
/*************End selectColor***************/

/***********selectRepairs**************/
.deviceRepair {
	width: 25%;
	height: 70px;
	line-height: inherit;
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	margin: 20px 2%;
	vertical-align: top;
	border-width: 2px;
	position: relative;
}

.noneSpan {
	display: none;
}

.wrpSelRepair {
	margin-left: 20%;
	margin-right: 20%;
}

.descrSelRepair {
	font-weight: lighter;
}

.deviceRepair.active {
	border-color: #2ecc71;
	border-width: 3px;
	height: 70px;
	border-radius: 8px;
	color: #717274;
}

.priceDiv {
	display: none;
}

.deviceRepair.active .priceDiv {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 20px;
}

.deviceRepair.active .priceDiv .wrpSpanPrice {
	margin: 0 auto;
	display: block;
	line-height: 64px;
}

.coverpage-button {
	position: relative;
	margin: 20px auto;
	width: 200px;
	line-height: 40px;
}

button.moreRepair {
	margin-bottom: 20px;
}

a.not-active {
   pointer-events: none;
   cursor: default;
   background-color: rgba(46, 204, 113, 0.4);
}

.calcCost {
	height: 70px;
	line-height: 70px;
}

.calcCost.selectRepair {
	background-color: rgba(46, 204, 113, 1);
}

.selectRepair {
	width: 200px;
	height: 55px;
	line-height: 36px;
	font-size: 16px;
}

.openLeft .repairFooter {
	left: -266px;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.repairFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 2px solid #fff;
	background-color: #191F24;
	z-index: 99999999999999;
	padding: 12px 0;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

@media (min-width: 480px) {

	.repairFooter {
		padding: 10px 30%;
	}

	.repairFooter a {
		height: 50px;
		line-height: 50px;
		width: 160px;
		border-radius: 5px;
		font-size: 16px;
	}

	div.repairFooter .totalAmount {
		margin-top: 10px;
	}

	.transactionTable tr td:last-child {
		max-width: 200px;
	}
}

@media (max-width: 800px) and (min-width: 480px) {
	.repairFooter {
		padding: 10px 22%;
	}
}


@media (max-width: 660px) and (min-width: 480px) {
	div.width80-on-660 {
		width: 80%;
		margin: 0 auto;
	}

	.repairFooter div a.sellRapair-btn {
		line-height: 50px;
	}
}

@media (min-width: 660px) {
	.transactionTable tr td:last-child {
		max-width: 230px;
	}
}

@media only screen and (max-device-width: 760px) and (orientation: landscape) {

	.repairFooter {
		position: fixed;
		bottom: 0;
		border-top: 2px solid #fff;
		background-color: #191F24;
		z-index: 99999999;
		padding: 12px 0;
		width: 100%;
		text-align: center;
	}

	.repairFooter a {
		float: none;
		line-height: 25px;
		height: 25px;
		width: 80px;
	}

	div.repairFooter .totalAmount {
		margin: 0 0 0 10px;
	}
}

.repairFooter .totalAmount {
	float: none;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 10px;
	vertical-align: middle;
	color: #fff;
}

.sellRapair-btn {
	line-height: 25px;
	width: 80px;
	display: inline-block;
	background-color: #2ecc71;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	vertical-align: middle;
}

.sellRapair-btn-nonActive {
	pointer-events: none;
	cursor: default;
	background-color: #2C7049;
}

.sellRapair-btn:hover {
	color: #fff;
	border-color: #fff;
}

@media (max-width: 1150px) {
	.deviceRepair {
		line-height: inherit;
		padding: 0 3px;
		display: inline-block;
        vertical-align: top;
        font-size: 12px;
	}
}

@media (max-width: 660px) {
	.deviceRepair {
		width: 29%;
		line-height: inherit;
		font-size: 12px;
		padding: 0 5px;
		display: inline-block;
        vertical-align: top;
	}

	.wrpSelRepair {
		margin-left: 15%;
		margin-right: 15%;
	}

	.repairFooter {
		padding: 15px 17%;
	}

	.repairFooter a {
		width: 80px;
		float: none;
		line-height: 35px;
	}
}

@media (max-width: 480px) {
	.deviceRepair {
		width: 42%;
		font-size: 10px;
		margin: 10px 2%;
	}

	.calcCost {
		width: 80%;
	}

	.sellRapair-btn:hover {
		color: #2ecc71;
		border-color: #2ecc71;
	}
}

@media (max-width: 300px) {
	.selectRepair, .moreRepair {
		width: 90%;
		height: inherit;
	}

	.selectRepair {
		font-size: 12px;
	}
}
/*************End selectRepair**************/

/***********repairCost*****************/
.wrapperUl {
	width: 50%;
	color: white;
	font-size: 20px;
}

.wrapperUl ul li span{
	width: 1px;
	white-space: nowrap;
	z-index: 99999;
}

.dotedCont {
	display: table-cell;
	border-bottom: 2px dotted;
	width: 100%;
}

.wrapperUl ul li {
	display: table;
	width: 100%;
	padding: 5px 0;
	overflow: hidden;
	position: relative;
	margin: 15px auto;
}

.totalAmount {
	text-transform: uppercase;
	float: right;
	font-size: 22px;
}

.totalAmount span {
	text-transform: uppercase;
}

.repairPrice {
	display: table-cell;
	width: 1px;
	white-space: nowrap;
}

.imgRub {
	width: 12px;
	display: inline-block;
}

.fullDeviceName {
	margin: 25px 0;
}

a.callMaster {
	background-color: #27ae60;
	color: #FFFFFF;
	width: 200px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	border: none;
	margin-top: 20px;
}

a.callMaster:hover {
	background-color: #2ecc71;
}

.thumb-left img.no-border-img {
	border-radius: 0;
	height: initial;
	min-width: 150px;
	max-width: 150px;
	float: right;
	margin-right: 0;
}

.devPhotoWrp {
	margin-right: 0;
}

@media (max-width: 660px) {
	.wrapperUl {
		width: 100%
	}

	.wrapperUl ul li {
		margin: 10px auto;
	}

	.callMaster {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.wrapperUl {
		font-size: 14px;
	}

	.totalAmount {
		font-size: 14px;
	}

	.imgRub {
		width: 8px;
	}

	.callMaster {
		font-size: 14px;
	}

	.thumb-left img.no-border-img {
		min-width: 110px;
	}

	.two-half.last-column.aboutClient p.mob-lin-h {
		line-height: normal;
	}

	p span.orderComment {
		font-size: 12px;
	}
}
/*************End repairCost**************/
/***********orderStep1*****************/
.coverpage-button {
	cursor: pointer;
	background-color: transparent;
	margin: 0 auto;
	display: block;
}

.mapsBtn {
	height: inherit;
	line-height: normal;
	}

.mapsBtn:hover {
	background-color: #3498db !important;
}

.afterBtnInpt {
	background-color: #27ae60;
	border: none;
}

.afterBtnInpt:hover {
	background-color: #2ecc71;
}

.coverpage-button.addr {
	width: 160px;
	font-size: 16px;
	margin-top: 30px;
	height: inherit;
	text-align: center;
	line-height: normal;
	padding: 10px 0;
}

.proposalAddr {
	text-align: center;
	padding: 30px 0;
	color: #fff;
	font-size: 20px;
	margin-bottom: 0;
}

.inputAddr {
	display: block;
	width: 30%;
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 45px;
	line-height: 100%;
	border: solid 1px #cacaca;
	color: #666666;
	border-radius: 0;
	margin: 0 auto;
}

.wrapperInputAddr {
	width: 50%;
	margin: 0 auto;
}

.wrapperInputAddr .inputAddr {
	display: inline-block;
	width: 81%;
	margin-left: -6px;
	font-size: 16px;
}

.wrapperInputAddr .coverpage-button {
	width: 18%;
	display: inline-block;
	height: 44px;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 16px;
}

.error.static-notification-red {
	margin-bottom: 10px;
}

.wrappetError {
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
}

.wrapLoading {
	width: 30px;
	margin: 0 auto;
}

.loadingSpiner {
	margin-top: 25px;
	color: #ffffff;
}

.loadingSpiner.fa-spinner:before {
	font-size: 30px;
}

.wrpInput {
	overflow: visible;
}

.wrpInputCity .error.static-notification-red {
	margin: 0 auto;
}

.textLighter {
	font-weight: lighter;
}

.boldText {
	font-weight: bold;
}

.btnSuccessOrder {
	margin-bottom: 20px;
}

@media (max-width: 660px) {
	.wrapperInputAddr .inputAddr {
		display: block;
		width: 101% !important;
		margin-left: 0;
	}

	.wrapperInputAddr .coverpage-button {
		width: 100%;
		display: block;
		margin: 10px auto;
		float: none;
	}

	.wrapperInputAddr .coverpage-button.afterBtnInpt {
		width: 200px;
	}

	.coverpage-button.addr {
		width: 100%;
		height: inherit;
		padding: 5px;
	}

	.proposalAddr {
		padding: 10px 0;
	}

	.wrapperInputAddr {
		width: 100%;
	}

	.error.static-notification-red {
		widows: 100%;
		margin-top: 10px;
	}

	.handAddr {
		font-weight: 500;
		font-size: 16px;
	}

	.wrapperDataInput>div .static-notification-red {
		margin-top: 0;
	}

	div h4.aboutMaster {
		line-height: inherit;
	}
}

@media (max-width: 930px) {
	.wrapperInputAddr .inputAddr {
		width: 80%;
	}
}

@media (min-width: 930px) {
	.wrapperInputAddr .inputAddr {
		width: 80%;
  		margin-left: -1px;
	}
}

@media (max-width: 1050px) and (min-width: 900px) {
	.wrapperInputAddr .inputAddr {
		width: 79%;
	}
}
/***********end orderStep1*****************/

/***********orderStep2*****************/
.wrapperselectTime {
	display: table;
	text-align: center;
	margin: 20px 0;
	margin-left: auto;
	margin-right: auto;
}

.wrapperselectTime.wrpSellTime {
	width: 100%;
}

.wrpSellTime .coverpage-button.active {
	border: 3px solid #2ecc71;
	border-radius: 8px;
}

.wrapperselectTime.wrpSellTime button.coverpage-button {
	display: inline-block;
	margin: 0 10px;
}

.wrapperselectTime button.coverpage-button {
	display: inline-table;
	border-radius: 5px;
	font-size: 16px;
	width: 150px;
	height: inherit;
	line-height: inherit;
	padding: 10px;
	margin: 0 5px;
	border: solid 2px #fff;
	min-height: 65px;
	vertical-align: top;
}

.wrapperselectTime span {
	color: #fff;
	font-size: 16px;
	padding: 0 10px;
	display: table-cell;
	vertical-align: middle;
}

.wrappTimePicker {
	margin-bottom: 15px;
}

.timePickerInpt, .inputData {
	text-align: center;
}

@media (max-width: 480px) {
	.wrapperselectTime {
		width: 100%;
		margin-top: 0;
	}

	div.wrapperselectTime.wrpSellTime button.coverpage-button {
		margin: 0 5px;
		font-size: 12px;
		width: 27%;
	}

	div.wrapperselectTime button.coverpage-button.sellTimeBtn {
		font-size: 12px;
		height: 50px;
		line-height: normal;
		display: inline-block;
		width: 65px;
		padding: 2px;
		width: 95px;
	}

	.feedBackWrp div.wrapperselectTime .spanSeparator {
		margin-top: 10px;
	}

	div.wrapperselectTime .spanSeparator {
		font-size: 14px;
		display: inline-block;
		margin-top: 20px;
	}
}

@media (max-width: 660px) {
	.wrapperselectTime button.coverpage-button {
		display: block;
	}

	.wrapperselectTime span {
		margin: 10px 0;
  		display: block;
	}

	.wrapperselectTime.wrpSellTime button.coverpage-button {
		width: 100px;
	}

	.wrapperselectTime button.coverpage-button.sellTimeBtn {
		display: inline-block;
	}

	.wrapperselectTime .spanSeparator {
		display: inline-block;
	}
}
/***********end orderStep2*****************/

/***********orderStep3*****************/

.inputData {
	display: block;
	width: 100%;
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 45px;
	border: solid 1px #cacaca;
	color: #666666;
	margin-top: -1px;
	border-radius: 0;
	font-size: 16px;
}

.wrpSugData {
	height: 155px;
}

.wrapperEmail.wrpSugData .error.static-notification-red {
	margin-top: 0;
}

.ordSter3 {
	position: relative;
}

.underDadataBtn {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.ster3Btn {
	width: 100%;
}

.wrapperDataInput, .wrapperTelephone, .wrapperEmail {
	width: 30%;
	margin: 30px auto;
}

.wrapperEmail {
	margin-top: 10px;
}

.wrapperTelephone button {
	display: inline-block;
	width: 35%;
	margin: 0 auto;
	border-radius: 5px;
	border: solid 2px rgba(255,255,255,1);
	line-height: 39px;
	margin: 0 10px;
}

.wrapperTelephone button.active {
	border-color: #2ecc71;
	border-width: 3px;
	height: 40px;
	line-height: 36px;
	border-radius: 8px;
}

.wrapperTelephone button:last-child {
	float: right;
}

.wrapperEmail button {
	margin-top: 30px;
	border-radius: 5px;
}

.clearBoth {
	clear: both;
}

.suggestions-wrapper, .suggestions-wrapper div {
	overflow: visible;
}

.suggestions-suggestions {
	text-align: left;
	z-index: 99999;
	overflow: visible;
}

.wrapperInputAddr {
	overflow: visible;
	position: relative;
}

.wrapperInputAddr .suggestions-suggestions {
	z-index: 99999999;
}

#app {
	min-height: 100%;
}

.step {
	overflow: visible;
}

.wrpInptError {
	overflow: visible;
}

.wrapperDataInput .suggestions-suggestions {
	top: 0 !important;
}

@media (max-width: 1000px) and (min-width: 660px) {
	.wrapperInputAddr {
		height: 200px;
	}
}

@media (max-width: 1000px) {
	.wrapperInputAddr {
		overflow: hidden;
	}
}

@media (max-width: 480px) {
	div.wrpLogin .wrapperDataInput {
		width: 100%;
	}

	div.wrpMasSign .wrapperDataInput {
		width: 100%;
	}

	.wrEm .wrapperEmail {
		width: 100%;
	}
}

@media (max-width: 660px) {
	.wrapperDataInput, .wrapperTelephone, .wrapperEmail {
		width: 100%;
	}

	.typeDescript {
		line-height: 16px;
		margin: 20px 0;
	}
}

/***********end orderStep3*****************/

/*************** Slider ****************/

.sliderWrp * {
	overflow: hidden !important;
}

.sliderWrp {
	margin-bottom: -25px;
}

.bg1 {
	background-size: cover;
	background-position: center center;
}

.bg2 {
	background-image: url(../images/slider/slide2.jpg);
	background-size: cover;
	background-position: center left;
}

.bg3 {
	background-image: url(../images/slider/slide3.jpg);
	background-size: cover;
	background-position: center left;
}

.selectRepair, .callMaster, .addr {
	border-radius: 5px;
}

.wrpContentSlider {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.wrpContentSlider * {
	color: #fff;
}

.wrpContentSlider h1 {
	overflow: visible !important;
	margin-top: 150px;
	font-size: 60px;
	line-height: 100%;
}

.wrpContentSlider h3 {
	overflow: visible !important;
	font-size: 24px;
	line-height: 100%;
}

#progressBar {
	display: none;
}

.slider-btn {
	line-height: 35px;
}

@media only screen and (min-device-width: 736px) and (orientation: landscape) {
	.wrpContentSlider h1 {
		font-size: 56px;
		margin-top: 23%;
	}
}

@media (max-width: 550px) {
	div.bg div.wrpContentSlider h1 {
		font-size: 34px;
	}
}

@media (max-width: 670px) {
	.wrpContentSlider h1 {
		margin-top: 170px;
		font-size: 38px;
	}

	.wrpContentSlider h3 {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	div div div.bg div.wrpContentSlider h1 {
		margin-top: 110px;
		font-size: 28px;
	}

	.thirtBtn {
		padding-left: 17px
	}
	.wrpContentSlider h3 {
		font-size: 15px;
	}

	.wrpContentSlider h1 {
		font-size: 30px;
	}
}

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
	div div div div.bg div.wrpContentSlider h1 {
		margin-top: 70px;
	}

	.wrpContentSlider .slider-btn {
		margin-top: 0;
	}

	.socialWrapp {
		margin-top: 2%;
	}
}

.margin-right {
	margin-right: 20px;
}

@media (max-width: 320px) {
	div div div.bg div.wrpContentSlider h1 {
		margin-top: 110px;
		font-size: 24px;
	}

	.wrpContentSlider h3 {
		font-size: 15px;
	}

	.wrpContentSlider a {
		font-size: 14px;
		width: 65%;
	}

	div.statusBlock span {
    	font-size: 14px;
	}
}

/********** end Slider ****************/
/***********Admin*****************/

.aligned label {
	width: 15em;
}

form .aligned p {
	margin-left: 15em;
}

.change-form #content {
	background-color: #fff;
}

/***********end Admin*****************/


/***********About*****************/
.decoration {
	background-color: white;
	margin-bottom: 5px;
}

.thumb-left.no-bottom, .thumb-right.no-bottom {
	color: white;
}

p.wrapContentAbout em strong.strongNameSite {
	padding: 0;
}

.thumb-left.no-bottom strong, .thumb-right.no-bottom strong {
	color: white;
}

.dsplBlck {
	display: none;
}

p.thumb-right.no-bottom.wrapContentAbout img.witoutWidth {
	width: inherit;
}


@media (min-width: 980px) {
	.wrapContentAbout {
		display: table;
	}

	.wrapContentAbout em {
		display: table-cell;
		vertical-align: middle;
	}

	.dsplBlck {
		display: block;
	}

	.dsplNone {
		display: none;
	}

	div .container table.transactionTable {
		width: 60%;
	}
}

@media (max-width: 560px) {
	p.thumb-right.no-bottom.wrapContentAbout img.witoutWidth {
		width: inherit;
	}
}
/***********end About*****************/

/***********Feedback*****************/

#feedback {
	width: 170px;
	height: 45px;
	position: fixed;
	z-index: 2;
	background-size: 45px;
	background-position-x: 0;
	margin-top: 7px;
	margin-left: 10px;
}

#feedback a {
	display: inline-block;
}

.logoFeedback {
	height: 100%;
	width: 45px;
}

.callPhone {
	width: 120px;
	color: #fff;
	vertical-align: top;
	font-size: 16px;
	margin-top: 14px;
	position: fixed;
}

.tellEmInput input {
	pointer-events: visibleFill;
}

.tellEmInput input[placeholder] { text-overflow: ellipsis; }
.tellEmInput input::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
.tellEmInput input:-moz-placeholder { text-overflow: ellipsis; }

.tellEmInput input:focus::-webkit-input-placeholder { color:transparent; }
.tellEmInput input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.tellEmInput input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.tellEmInput input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.nameInput input:focus::-webkit-input-placeholder { color:transparent; }
.nameInput input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.nameInput input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.nameInput input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.commentInput textarea:focus::-webkit-input-placeholder { color:transparent; }
.commentInput textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.commentInput textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.commentInput textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.wrapperDataInput textarea {
	font-family: arial;
}

#feedback p {
	display: inline-block;
	color: white;
	z-index:2;
	line-height: 42px;
	margin-bottom: 30px;
	font-size: 10px;
	width: 90px;
	padding-left: 5px;
	font-family:'Roboto', sans-serif;
}

.lhBtn {
	line-height: 38px;
}

.inputData.feedtext {
	width: 100%;
	height: 200px;
	line-height: 1.5em;
	padding: 10px 10px 0 10px;
	resize: none;
}

@media (max-width: 480px) {
	div.feedBackWrp>h3:first-child {
		line-height: 0;
	}

	div.feedBackWrp h3:nth-child(2) {
		line-height: normal;
	}

	div.feedBackWrp .wrapperDataInput {
		margin: 15px 0;
	}

	.margin-right {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
/***********end Feedback*****************/

.deviceStatus.active {
	border-color: #2ecc71;
	border-width: 3px;
	height: 80px;
	border-radius: 8px;
}

/***********Header notifications*********/

.header-notify {
	position: relative;
	top: 60px;
	width: 100%;
	z-index: 99;
	background-color: RGBA(0,0,0, .5);
	background-image: none;
}

.notify {
	overflow: hidden;
	color: #FFFFFF;
}

.notify p {
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
}

.notify-danger {
	background-color: #c0392b;
}

.notify-success {
	background-color: #27ae60;
}

.notify-info {
	background-color: #2980b9;
}

.notify-warning {
	background-color: #f39c12;
}

/***********end Header notifications******/

/***********Courses*****************/

.wrpCourseList button {
	line-height: 25px;
	background-color: transparent;
	width: 70px;
	color: #fff;
	border: 2px solid rgba(149,149,149,1.0);
	cursor: pointer;
	border-radius: 5px;
}

.wrpCourseList button.sellCoursBtn {
	border: 2px solid green;
	color: white;
}

div.moreMargin.step {
	margin-top: 160px;
}

.wrpCourseList table.table tr:last-child td {
	border-bottom: none;
}

.wrpCourseList table.table tr td:first-child {
	text-align: center;
}

.wrpCourseList button:hover {
	color: white;
	border: 2px solid white;
}

.wrpCourseList li{
	line-height: 30px;
	width: 25%;
	color: white;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	text-align: left;
}

li.courseItem.active button{
	line-height: 30px;
	background-color: transparent;
	width: 70px;
	color: #49b2cf;
	border: solid 2px rgba(73,178,207,1.0);
	float: right;
}
.wrpCourseLine {
	margin: 10px auto 10px auto;
}

.wrpCourseLine li{
	display: inline-block;
	line-height: 30px;
	width: 8%;
	color: #959595;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	text-align: left;
	text-align: center;
}

.courseLineItem.active {
	color: #49b2cf;
}

div.wrpCourseList table.table tr td button.hideBtn {
	border: 2px solid transparent;
	color: transparent;
}

div.wrpCourseList table.table tr td button.hideBtn:hover {
	border: 2px solid transparent;
}

@media (max-width: 480px) {
	.wrpCourseList table.table tr td {
		font-size: 10px;
		padding: 1px;
	}

	.wrpCourseList table.table tr td button {
		width: 50px;
	}

	.wrpCourseList table.table tr td button:hover {
		border: 2px solid green;
	}

	.wrpCourseList table.table tr td button.notSellCoursBtn:hover {
		border: 2px solid rgba(149,149,149,1.0);
	}
}

/***********end Courses*****************/

/***********registration master*****************/
.identError {
	margin-bottom: 20px;
}

.wrEm {
	margin-top: -10px;
	margin-bottom: -100px;
}

.wrEm.errEm {
	margin-bottom: -50px;
	margin-top: -20px;
}

.wrpMasSign .marTopInpt {
	margin-top: 10px;
}

.wrapperEmail .wrpSugData .suggestions-wrapper {
	top: -50px;
}

.wrEm .wrapperEmail {
	margin: 0 auto;
}

.regWrapBtn {
	margin-top: 20px;
}

.regWrapBtn button {
	margin-bottom: 10px;
}

.wrapperEmail.wrpSugData .suggestions-wrapper,
.wrapperEmail.wrpSugData .suggestions-addon {
	top: -51px !important;
}

.wrpMasSign .wrapperEmail.wrpSugData .suggestions-addon {
	top: -42px !important;
}

.selectRepair:hover {
	cursor: pointer;
}

.offer .selectRepair {
	margin-bottom: 25px;
	margin-top: -55px;
}

.offer .wrapperDataInput .one-half .selectRepair {
	margin-bottom: 0;
	margin-top: 0;
}
/***********end registration master*****************/

/***********master order*****************/
.repairs-table .total-row td{
	color: #2ecc71;
}

.transAmount .red span {
	color: red;
}
.transAmount .green span {
	color: #27ae60;
}

div.wrpNewOrderTables table.table {
	margin-bottom: 20px;
}

.wrpNewOrderTables table.table tr td:first-child {
	padding-left: 0;
}

.wrpNewOrderTables .linkTd a {
	border-bottom: none;
}

.view-btn {
	background-color: transparent;
	color: #49b2cf;
	border: solid 1px rgba(73,178,207,1.0);
	cursor: pointer;
	border-radius: 5px;
}

.brForm {
	margin-top: 20px;
}

@media (max-width: 480px) {
	.view-btn {
		padding: 5px 5px;
	}

	.transAmount {
		min-width: 80px;
		padding-left: 0 !important;
	}

	.step h5.notifForMasterOrders {
		line-height: normal;
	}
}
.step h5.notifForMasterOrders {
	font-weight: lighter;
	margin-bottom: 20px;
}

/***********end master order*****************/

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/***********status Description*****************/

@media (max-width: 480px) {
	div.step h4.statusH4 {
		line-height: normal;
	}
}

.sellBtn {
	height: inherit;
  	line-height: inherit;
  	clear: both;
  	margin-top: 20px;
}

.wrpSellStatus .deviceModel.deviceStatus.selectBtn {
	font-size: 16px;
	padding: 0 5px;
	line-height: inherit;
	align-items: center;
	display: inline-flex;
	vertical-align: top;
	display: -webkit-inline-flex;
	-webkit-align-items: center;

	display: -moz-inline-flex;
	-moz-align-item: center;

	display: -ms-inline-flexbox;
	-ms-align-item: center;
}

.statusSpan {
	margin: 0 auto;
}

@media (max-width: 480px) {
	.wrpSellStatus .deviceModel.deviceStatus.selectBtn {
		font-size: 14px;
	}
}

/***********end status Description*****************/
/***********status Description*****************/

.ulList {
	color: white;
	font-size: 20px;
	margin: 0 auto;
	width: 70%;
}

.ulList li {
	line-height: 22px;
	text-align: left;
}

.showCostSell {
	width: 200px;
	border-radius: 5px;
	font-size: 14px;
}

.sellTotAmount {
	float: none;
 	text-align: center;
 	font-size: 30px;
 	color: #27ae60;
 	font-weight: 900;
}

.icon-list li {
	background-position: 0 0;
}

@media (max-width: 680px) {
	.ulList li {
		text-align: left;
		width: 100%;
		display: list-item;
	}

	.header-logo {
		width: 128px;
		height: 17px;
		margin-top: 22px;
	}

	.ulList {
		width: 100%;
	}

	#feedback .callPhone {
		display: none;
	}

	#feedback {
		width: 45px;
	}

	.telephoneH4 {
		line-height: 20px;
		margin-bottom: 0;
	}
}

@media (max-width: 480px) {
	.ulList li {
		margin-bottom: 0;
		background-position: inherit;
		background-size: 16px;
	}

	.statusDescrWrp h3 {
		line-height: 20px;
	}

	.ulList {
		font-size: 14px;
	}

	.ulList li {
		line-height: 15px;
	}

	.showCostSell {
		width: 80%;
	}
}

@media (min-width: 900px) {
	.ulList {
		width: 60%;
	}
}

@media (min-width: 900px) {
	.ulList {
		width: 50%;
	}
}
/***********end registration master*****************/

.active {
	border: 1px solid #2ecc71;
}
/***********tyl status Description*****************/

.can-work-btn {
	cursor: pointer;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-size: 200px;
	background-color: transparent;
	background-repeat: no-repeat;
}

.can-not-work-btn {
	cursor: pointer;
	width: 200px;
	height: 77px;
	background-size: 200px;
	background-color: transparent;
	background-repeat: no-repeat;
}

.can-work-btn.male {
	background-image: url(../images/buttons/READY-Button-off-m.png);
}

.can-work-btn.female {
	background-image: url(../images/buttons/READY-Button-off-f.png);
}

.can-not-work-btn.male {
	background-image: url(../images/buttons/BUSY-Button-off-m.png);
}

.can-not-work-btn.female {
	background-image: url(../images/buttons/BUSY-Button-off-f.png);
}

.male.transition, .female.transition {
	filter: brightness(2);
	-webkit-filter: brightness(2);
	-moz-filter: brightness(2);
	-o-filter: brightness(2);
	-ms-filter: brightness(2);
}

select {
	background-color: #fff;
}

.avatar-container img{
	width: 100%;
	margin: 0 auto;
}

/***********end status Description*****************/

/***********status Description*****************/

table {
	background: transparent;
	border: none;
}

table p, table a, table span  {
	color: #fff;
	text-shadow: none;
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-weight: 400;
}

table tr {
	padding-left: 0;
}

table tr td {
	background: transparent;
	border: none;
	border-bottom: 2px solid rgb(206, 209, 213);
}

.linkTd a {
	border-bottom: 1px solid #fff;
	border-style: dashed;
	display: inline-block;
}

table tr:last-child td {
	border-bottom: 2px solid rgb(206, 209, 213);
}

table tr:hover td {
  background: transparent;
}

.ordersAddresP {
	border: 2px solid rgba(255,255,255,0.5);
	padding: 5px 3px;
}

.two-half.last-column p {
	margin-bottom: 0;
}

.order-details .one-half {
	margin-right: 0;
	width: 40%;
}

.order-details .partsOrder table.table {
	width: 100%;
}

.order-details .partsInfo span {
	font-size: 14px;
}

.order-details .partsInfo {
	line-height: normal;
}

.order-details .two-half p {
	line-height: normal;
	color: white;
}

.order-details .ordersAddresP {
	display: block;
	max-width: 160px;
}

.order-details .thumb-left img {
	margin-right: 0;
}

.order-details table {
	border: 1px solid #fff;
	margin-bottom: 10px;
	table-layout: fixed;
}

.order-details table tr td {
	border-bottom: 1px solid #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: 400;
}

.order-details table tr td:last-child, .order-details table.parts-table tr td:last-child  {
	width: 25%;
}

table.lastRed tr:last-child td , table.lastRed tr:last-child td span {
	color: rgb(211, 5, 5);
}

table.lastBold tr:last-child td, table.lastBold tr:last-child td span{
	font-weight: 900;
}

.wrpParts table.parts-table tr td:first-child{
	text-align: center;
	padding-left: 0;
	max-width: 50px;
}

.smallInputInTable td .inputData {
	height: 35px;
	line-height: 35px;
}

.wrpParts p,
.wrpParts span {
	color: #fff;
}

.addToCartBtn {
	background-color: transparent;
	padding-top: 0;
}

.addToCartBtn i {
	color: #fff;
	font-size: 26px;
}

.addToCartBtn i:hover {
	cursor: pointer;
}

.addedToCart i {
	color: #27ae60;
}

.partsStepThree h5 {
	text-align: left;
}

.order-part-row {
	text-align: left;
	margin-left: 5%;
}

.calculateRow {
	text-align: center;
}

.countIndividualPart {
	float: right;
	background-color: #304457;
}

.countIndividualVendor {
	border-top: 2px solid #fff;
	float: right;
}

.dashedSeparator {
	display: inline-block;
	width: 100%;
	border-bottom: 2px dotted #fff;
	position: absolute;
	top: 13px;
	z-index: -1;
}

th {
	background-color: RGBA(255, 255, 255, .5);
	color: #211E1E;
}

th:last-child {
	border-right: 0;
}

.partName {
	margin-top: 7px;
}


.partName span, .wrpCheckbox span {
	color: #fff;
	font-size: 16px;
}

.wrpCheckbox {
	margin-top: 20px;
	margin-bottom: 20px;
}

.part-off h5 {
	font-size: 18px;
}

.wrpCheckbox input {
	height: 12px;
}

.order-details table tr td:first-child {
	border-right: 1px solid #fff;
	text-shadow: none;
	color: #fff;
	font-size: 10px;
}

.border-right-w {
	border-right: 1px solid #fff;
}

.td-qty {
	width: 40px;
}

.td-price {
	width: 15%;
}

.wrpAboutClient {
	display: table;
	margin: 0 auto;
}

.wrpAboutClient>div {
	display: table-cell;
	vertical-align: middle;
}

.wrpAboutClient>div:first-child {
	width: inherit;
}

.pAddres {
	color: #fff;
	line-height: inherit;
}

.disclaimer {
	color: #fff;
	text-align: left;
  	line-height: 20px;
  	font-size: 12px;
  	margin-top: 15px;
  	margin-bottom: 15px;
}

.order-details .container {
	margin-top: 10px;
	margin-bottom: 5px;
}

.order-details .pAddres {
	margin-bottom: 10px;
}

.addrTimeWrp {
	display: inline-table;
	margin-top: 20px;
}

.wrpAboutClient>div:last-child {
	padding-left: 15px;
}

.addrTimeWrp p {
	display: table-cell;
	vertical-align: middle;
}

.two-half.last-column.aboutClient p {
	width: 100%;
	margin-bottom: 20px;
}

.total-income span {
	color: #fff;
}

div.total-income span.greenText, div.total-income span.greenText span {
	color: #27ae60;
}

.order-details.step .wrpOrderDetails .container h4 {
	line-height: 35px;
}

.login-buttons {
	width: 300px;
}

.login-buttons .button {
	width: 135px;
}


@media (min-width: 480px) {
	.wrpAboutClient>div:first-child {
		margin-right: 50px;
	}
	.order-details p, .order-details a,
	.order-details span,
	.order-details table.table tbody tr td {
		font-size: 16px;
	}

	.content.step.order-details .wrpOrderDetails h3.orderDetailH3 span {
		font-size: 40px;
	}

	.partsStepThree {
		margin: 90px 20% 0 20%;
	}
}

@media (max-width: 480px) {
	table p, table a, table span  {
		font-size: 10px;
	}

	table tr td {
		padding: 8px 0;
	}

	.disclaimer {
		margin-bottom: 10px;
	}

	.order-details .wrpOrderDetails .container .two-half.addrTimeWrp span p:last-child {
		display: block;
		padding-left: 0;
		line-height: normal;
	}

	div.order-details .wrpOrderDetails .container .two-half.addrTimeWrp span p:first-child {
		padding-left: 0;
		display: block;
	}

	.order-details .wrpOrderDetails .container .two-half.addrTimeWrp>span {
		display: block;
		margin-top: 10px;
	}

	div.order-details.step div.wrpOrderDetails .container h4 {
		line-height: normal;
		margin-top: 10px;
	}

	.order-details {
		margin-left: 20px;
  		margin-right: 20px;
	}

	.order-details .addrTimeWrp {
		margin-top: 0;
	}

	table th {
		padding: 10px;
	}

	.part-off h5 {
		line-height: normal;
		font-size: 14px;
	}

	.parfOffForm {
		margin-top: 20px;
	}

	.smallInputInTable td .inputData {
		font-size: 12px;
		height: 25px;
		line-height: 25px;
		padding: 0px 5px;
		width: 40px;
		text-indent: 5px;
	}

	.addToCartBtn {
		padding: 0 5px;
	}

	.addToCartBtn i {
		font-size: 16px;
	}

	.wrpAddToCart {
		display: inline-block;
		float: right;
	}

	td.noneIfMob {
		display: none;
	}

	td .noneIfPC {
		display: block;
	}
}

.noneIfMob {
	display: block;
}

.noneIfPC {
	display: none;
}

@media (max-width: 768px) {
	.order-details .two-half p:last-child {
		line-height: 32px;
		padding-left: 10px;
	}

	.order-details .wrpOrderDetails .container .two-half.addrTimeWrp span p:first-child {
		padding-left: 10px;
	}

	.parts-table tr td:last-child {
		min-width: 70px;
		max-width: 70px;
	}

	.wrpSelRepair h5 {
		line-height: normal;
	}

	div h5.partsInfo {
		margin-left: 0;
	}
}

.partsOrder {
	width: 70%;
	margin: 0 auto;
}

.order-details .partsOrder {
	width: 100%;
}

.order-details .del-btn {
	height: 20px;
}

.container table.table.resTable {
	width: 100%;
}

.partsInfo>span {
	width: 90%;
}

.del-btn {
	width: 30px;
	height: 100%;
	float: right;
}

.cancel-order-td {
	width: 10px;
}

.order-details h5.partsInfo {
    margin-left: 0;
    width: 100%;
    text-align: left;
}

@media (max-height: 400px) {

	div.login-buttons {
		width: 100%;
	}

	div.login-buttons .button {
		width: 100%;
		padding: 10px 5px;
		font-size: 12px;
	}

	.login-buttons .one-half {
		width: 49%;
		margin-right: 2%;
	}
}

@media (max-height: 600px) and (min-width: 600px) {
	div.wrpLogin .wrapperDataInput {
		width: 300px;
	}

	div.wrpMasSign .wrapperDataInput,
	.wrpMasSign div.wrEm .wrapperEmail {
		width: 300px;
	}
}

@media (max-height: 600px) {
	.wrpMasSign .wrapperDataInput {
		width: 100%;
	}

	.wrpMasSign .wrEm {
		width: 100%;
	}

	.wrpMasSign .wrEm .wrapperEmail {
		width: 100%;
	}
}

@media (max-width: 320px) {
	.orderTable .table tr td:first-child {
		padding-left: 0;
	}

	.login-buttons {
		width: 250px;
	}

	.login-buttons .button {
		width: 110px;
		padding: 10px;
	}

}

@media (min-width: 768px) {
	.container table.table {
		width: 70%;
		margin: 0 auto;
	}

	.content.order-details .wrpOrderDetails {
		width: 70%;
		margin: 0 auto;
	}

	.order-details .two-half p {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.order-details .two-half p:first-child {
		width: 90%;
		margin-bottom: 10px;
	}

	.addrTimeWrp {
		display: block;
	}

	.prefEm {
		line-height: normal;
		font-size: 18px;
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		background: RGBA(255, 255, 255, 0.2);
		border-radius: 20px;
		padding-left: 25px
	}

	.wrapperselectTime.wrpSellTime button.coverpage-button {
		height: 60px;
	}

	.wrpSellStatus .deviceModel.deviceStatus.selectBtn {
		margin: 15px 10px;
		width: 20%;
		font-size: 14px;
	}

	.transactionTable tr td:last-child {
		max-width: 270px;
	}

	.wrpParts {
		margin-left: 20%;
		margin-right: 20%;
	}

	.parts-table tr td:last-child {
		min-width: 160px;
		max-width: 160px;
	}
}

@media (min-width: 900px) {
	.wrpSellStatus .deviceModel.deviceStatus.selectBtn {
		margin: 15px 10px;
		width: 15%;
		font-size: 16px;
	}
}

/***********end status Description*****************/

/***********Master courses*****************/

.wrpCourseList table.table tr td {
	color: #fff;
	text-shadow: none;
	font-weight: normal;
	padding: 5px 0;
	line-height: initial;
}

.wrpCourseList table.table {
	table-layout: fixed;
}

.spanSell {
	display: block;
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	padding: 3px;
	border-radius: 5px;
	border-style: dashed;
	cursor: pointer;
}


/***********end Master courses*****************/

.avatarBlock {
	width: 140px;
}

.changeAvatar {
	position: absolute;
	width: 40px;
	height: 29px;
	background-size: contain;
	bottom: 15px;
	right: 0px;
	background-image: url(../images/ui/changeAvatar.png);
	opacity: .8;
}

.certificatedBlock .button {
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	padding: 9px 10px;
}

.genderBlock {
	border-radius: 5px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	padding: 9px 20px;
}

.standartBr {
	border-radius: 5px;
}

.standartBr:hover {
	cursor: pointer;
}

.changeName {
	font-size: 16px;
	line-height: inherit;
}

.changeName:hover {
	cursor: pointer;
}

.statusBlock {
	text-align: left;
	margin-top: 20px;
	overflow: visible;
}

.editNameBlock {
	text-align: center;
	margin-bottom: 20px;
}

.statusBlock span {
	color: #fff;
	font-size: 20px;
}

.statusSpan {
	text-transform: uppercase;
}

.profileTextBlock {
	width: 45%;
	float: right;
	text-align: right;
}

.profileTextBlock p {
	  font-size: 24px;
}

.profile .container, .profile .container>div {
	overflow: visible;
}

.spanIco {
	display: inline-block;
	position: relative;
}

.spanIco .info-list {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 3px 3px;
}

.toolTip {
	display: none;
	position: absolute;
	width: 200px;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	border: 1px solid #B9B6B6;
	border-radius: 5px;
	left: 35px;
	background-color: #212F3C;
	z-index: 99;
	overflow: visible;
	padding: 5px 10px;
}

.spanIco:hover {
	cursor: pointer;
}

.spanIco:hover .toolTip  {
	display: inline-block;
}

div.two-half.last-column p.profileName {
	margin-bottom: 25px;
	font-size: 30px;
}

div.two-half.last-column p.emailText {
	margin-bottom: 20px;
}

.editNameBlock button:hover {
	cursor: pointer;
}

.profile .decoration {
	margin: 20px 0;
}

.emailText {
	margin-bottom: 20px;
}

.certificatedBlock .red {
	border: 2px solid rgb(188, 51, 51);
}

.certificatedBlock .green {
	border: 2px solid rgb(17, 161, 17);
}

.profile p {
	color: white;
}

.profile .avatar-img {
	border: 8px solid;
	width: 100%;
	height: 100%;
}

.cropper-crop-box {
	border-radius: 50%;
	border: 8px solid rgba(0, 0, 0, .5);
}

.wrpInptFile {
	text-align: center;
	overflow: hidden;
	float: left;
	height: 34px;
	z-index: 999999999;
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	width: 105px;
	margin-top: 10px;
}

.wrpInptFile:hover {
	cursor: pointer;
}

.wrpInptFile input {
	margin-top: -50px;
	margin-left: -410px;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	height: 100px;
}

.surrogateFileInpt {
	color: #fff;
	font-size: 12px;
}

.saveAvatar {
	display: inline-block;
	vertical-align: top;
	width: 105px;
	margin-top: 10px;
	float: right;
}

.selectAvatar .container {
	margin: 0 30%;
}

.pagination {
	margin-top: 20px;
}

@media screen and (orientation: landscape) and (min-width: 480px) and (max-width: 600px) {
	.selectAvatar .container {
		margin: 0 27%;
	}

	.selectAvatar .saveAvatar {
		width: 90px;
		font-size: 10px;
	}

	.selectAvatar .wrpInptFile {
		width: 90px;
		font-size: 10px;
	}
}

@media (min-width: 980px) {
	.profile {
		margin: 90px 20% 0 20%;
	}

	.transactionTable tr td:last-child {
		max-width: 280px;
	}
}

@media only screen and (max-device-width:960px) and (max-device-height:480px) and (orientation: landscape) {
	.toolTip {
		left: 0;
		top: 20px;
		width: 100%;
		border-top-left-radius: 5px;
	}

	.toolTip:after {
		display: none;
	}

	.spanIco {
		position: initial;
	}

	.hideOverflow {
		overflow: visible;
	}
}

@media (max-width: 680px) {
	.avatarBlock {
		width: 100px;
		margin-right: 0;
	}

	.profileTextBlock {
		width: 70%;
	}

	.toolTip {
		left: 0;
		width: 100%;
		border-top-left-radius: 5px;
	}

	.toolTip:after {
		display: none;
	}

	.spanIco {
		position: initial;
	}

	.hideOverflow {
		overflow: visible;
	}

	.partsOrder {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.profileTextBlock {
		width: 55%;
	}
	div.two-half.last-column p.profileName {
		font-size: 18px;
	}

	.profileTextBlock p {
		font-size: 12px;
	}

	.statusBlock span {
		font-size: 16px;
	}

	.spanIco .info-list {
		background-position: 3px 1px;
		background-size: 16px 16px;
	}

	.certificatedBlock .button {
		font-size: 10px;
		padding: 5px 5px;
	}

	.genderBlock {
		font-size: 12px;
		padding: 6px 15px;
	}

	.changeName {
		font-size: 12px;
		padding: 7px 10px
	}

	.selectAvatar .container {
		margin: 0 20px;
	}
}

/***********landing slider ************/

.langBlock {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #000;
	margin: 0 auto;
	z-index: 99999999999;
	left: 0;
	right: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}

.vk-color {
	background-color: #5f7fa2;
	color: #FFFFFF;
}

.ok-color {
	background-color: #f2720c;
	color: #FFFFFF;
}

.fa-ok {
	background-size: 8px;
	display: block;
	background-image: url(../images/lists/ok-ico.png);
	background-repeat: no-repeat;
	background-position: 16px;
}

.langLink {
	display: inline-block;
	width: 45px;
	height: 45px;
	background-size: 45px;
	margin: 0 25px;
}

.langLink:hover {
	cursor: pointer;
}

.ruLang {
	background-image: url(../images/ui/Russia.png);
}

.enLang {
	background-image: url(../images/ui/Great_Britain.png);
}

.langBlock span {
	color: #fff;
	font-size: 16px;
	display: block;
	font-size: 14px;

}

.landingSlider {
	background-color: #fff;
	padding-top: 20px;
	margin-bottom: 0;
}

div a.logoArrow {
	margin-top: 95px;
	z-index: 99999999;
	cursor: pointer;
}

.logoArrow:hover {
	background-color: rgba(0,0,0,0.1);
	transition: all 400ms ease;
}

.logoArrow-next {
	z-index: 99999;
	background-image: url(../images/ui/next1.png);
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	background-size: 16px 16px;
	background-position: 16px 15px;
	position: absolute;
	right: 0;
	margin-top: 20%;
	border-radius: 45px;
	transition: all 400ms ease;
}

.logoArrow-prev {
	z-index: 99999;
	background-image: url(../images/ui/prev1.png);
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	background-size: 16px 16px;
	background-position: 13px 15px;
	position: absolute;
	left: 0;
	margin-top: 20%;
	border-radius: 45px;
	transition: all 400ms ease;
}

div.logoSlider .staff-item img {
	border-radius: 0;
	height: 100px;
}

.wrpSlider {
	width: 80%;
	margin: 0 auto;
	max-width: 980px;
}

.landingSlider .staff-item img {
	width: 150px;
	border-radius: 50%;
	height: 150px;
}

.staff-item img.companyLogo {
	width: 50px;
	height: 50px;
	border-radius: 0;
}

@media screen and (orientation: landscape) {
	.staff-item strong {
		width: 250px;
	}
}

.staff-item img.companyLogo:hover {
  transform: scale(1, 1);
  transition: all 500ms ease;
}

.staff-item .textComment {
	line-height: 18px;
	max-height: 305px;
	overflow: hidden;
}

span.orderComment {
	display: block;
	font-size: 14px;
	line-height: initial;
}

@media (max-height: 568px) {
	.wrpContentSlider h1 {
		margin-top: 105px;
	}
}

@media (max-height: 480px) {
	.wrpContentSlider h1 {
		margin-top: 75px;
	}

	.socialWrapp {
		margin-top: 0;
	}

	.subTitleLanding {
		margin-bottom: 0;
	}
}

/***********End landing slider ************/

#breadcrumbs .progress {
	display: inline-block;
	position: absolute;
	max-width: 100% !important;
	height: 6px;
	border-radius: 0 1px 1px 0;
	background-color: #2ecc71;
	transition: 1s width, 1s background-color;
}

.open-menu {
	cursor: pointer;
	position: initial;
}

#content.openLeft {
	position: inherit !important;
	left: -266px;
}

.snap-drawers {
	position: fixed;
	display: none;
	-webkit-transition-property: display;
    -webkit-transition-duration: 1s;
    -moz-transition-property: display;
    -moz-transition-duration: 1s;
    -o-transition-property: display;
    -o-transition-duration: 1s;
    transition-property: display;
    transition-duration: 1s;
}

.displBlock {
	display: block;
}

#content.openLeft .header {
	left: -266px;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.openLeft #breadcrumbs {
	left: -266px;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

#breadcrumbs {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: -50px;
	background-color: #304457;
	z-index: 99999999;
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.fix-legend #breadcrumbs {
	position: fixed;
	top: -60px;
	width: 100%;
	background-color: #304457;
	z-index: 9999999;
}

.breadcrumbs-nav {
	width: 100%;
	color: white;
	flex-wrap: wrap;
	display: flex;
	margin-top: 60px;
	border-bottom:2px solid RGBA(0,0,0, .5);
	background-color: #304457;
}

.backBtn {
	color: #27ae60;
}

@media (min-width: 480px) {
	.backBtn {
		font-size: 34px;
		margin-top: -5px;
	}
}

@media (max-width: 480px) {
	ul.breadcrumbs {
		margin: 10px auto 10px 0;
		padding-left: 40px;
	}

	.staff-item .textComment {
		padding-left: 5px;
		padding-right: 5px;
	}

	ul.breadcrumbs li {
		margin: 0 5px;
		text-align: left;
	}
	ul.breadcrumbs li:first-child {
		padding-right: 0;
		margin-left: -30px;
	}
}

.breadcrumbs {
	margin: 5px auto 0 auto;
}

.breadcrumbs li {
	float: left;
	margin: 5px 15px 5px 15px;
	list-style: none;
	position: relative;
	cursor: pointer;
}

.breadcrumbs li .rub {
	margin-left: 3px;
}

.wrpThisWork .selectRepair {
	display: inline-block !important;
	width: 250px;
	background-color: transparent;
	height: 70px;
	line-height: 47px;
	margin: 0 35px;
	font-size: 22px;
}

.wrpThisWork .selectRepair:hover {
	border: 2px solid #7F8B92;
	color: #7F8B92 !important;
}

.wrpThisWork h3 {
	color: #464646;
	font-weight: 100;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 22px;
	width: 75%;
	line-height: normal;
	margin: 30px auto 30px auto;
}

.wrpThisWork .button-blue {
	border: 2px solid #2980b9;
	color: #2980b9;
}

.wrpThisWork .button-green {
	border: 2px solid #00c569;
	color: #00c569;
}

.fontSize15 {
	font-size: 15px;
}

#app > div.content.wrpTW > div > a.button.button-green.center-button.selectRepair

.breadcrumbs li:hover {
	cursor: pointer;
}

.breadcrumbs li span:first-child {
	font-weight: 600;
}

.nav-back {
	background: #304457;
	color: white;
	margin-top: 5px;
	cursor: pointer;
}

/***********landing Img ************/

@media only screen and (max-device-width: 680px) and (orientation: landscape) {

	.wrpContentSlider h1 {
		margin-top: 90px;
	}
}

.wrpLangingImg.wrpContentSlider {
	width: 100%;
}

.wrpPreferences {
	margin: 20px auto 0 auto;
}

.tellLink {
	color: #fff;
}

.tellLink:hover {
	color: #fff;
}

.prefEm {
	line-height: normal;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding-left: 25px;
	padding-right: 15px;

}

.preferences {
	text-align: left;
	margin-bottom: 20px;
}

.preferences p {
	padding: 0 10px;
	display: table;
	width: 100%;
}

.wrpLangingImg .slider-btn {
	margin: 10px;
	width: 170px;
}

.wrpLangingImg .slider-btn {
	display: inline-block !important;
}

.wrpThisWork {
	text-align: center;
	margin-bottom: 0;
	margin: 20px auto 0 auto;
	max-width: 980px;
	width: 80%;
}

.wrpThisWork h1 {
	color: #464646;
	font-weight: 100;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 30px;
	font-size: 32px;
 	line-height: 32px;
}

.elWork:nth-child(2) {
	margin-left: 0;
}

.elWork:nth-child(4) {
	margin-right: 0;
}

.elWork {
	width: 26%;
	text-align: center;
	display: inline-block;
	border: 2px solid #dcdcdc;
	border-radius: 15px;
	padding: 5px;
	height: 180px;
	margin: 0 4%;
	vertical-align: top;
}

.wrpTextWork {
	overflow: visible;
	margin-bottom: 0;
	padding: 25px 12px 12px 12px;
}

.greenText {
	color: #27ae60;
}

.numberStepWork {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	top: -16px;
	left: -13px;
	border-radius: 50%;
	background-color: #304457;
}

.numberStepWork p {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: -1px;
}

.textAfterWork {
	font-size: 20px;
	line-height: initial;
}

.wrpTW {
	margin: 0;
	background-color: #fff;
}

.wrpPref {
	margin: 0;
	background-image: url(../images/pictures/pref-Bg.png);
	background-size: cover;
	background-position: center center;
}

div.wrpPref h1 {
	color: #fff;
	margin-bottom: 30px;
}

#app a.customGreenBtn {
	background-color: #27ae60;
	color: #fff;
	border: none;
	margin-top: 5px;
}

#app a.customGreenBtn:hover {
	color: #fff !important;
	background-color: #00c569;
}

.wrpTW .customGreenBtn {
	display: block !important;
	margin: 30px auto;
	font-size: 20px;
	width: 250px;
	line-height: 50px;
}

img.prefImg {
	display: block;
	width: 100px;
	height: 100px;
}

.wrpSlider h1 {
	text-align: center;
	font-weight: 100;
	color: #555;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 26px;
}

.textWork {
	font-size: 20px;
	line-height: normal;
	margin-bottom: 0;
	color: #636363;
}

.elWork .circle {
	border-radius: 50%;
	border: 2px solid #636363;
	width: 60px;
	height: 60px;
	padding: 17px;
	margin: 0 auto 10px auto;
}

.spanCircle {
	color: #464646;
	font-size: 30px;
}

.transparrentBtn {
	border: 2px solid #fff;
	line-height: 31px;
	color: #fff;
}

.transparrentBtn:hover {
	background-color: rgba(255,255,255,0.1)
}

@media (max-width: 680px) {
	.landingSlider {
		margin-bottom: -25px;
	}

	.logoSlider {
		margin-bottom: 0;
	}

	.wrpTW {
		padding: 0;
	}

	.attentionComment {
		font-size: 12px;
		line-height: normal;
	}
}


@media (max-width: 480px) {
	.preferences {
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}

	img.prefImg {
		float: none;
  		margin: 0 auto;
	}

	.wrpThisWork h1 {
		font-size: 24px;
		line-height: normal;
	}

	.elWork {
  		width: 60%;
		margin: 10px 2%;
		height: 140px;
	}

	div.elWork:nth-child(2) {
		margin-left: 2%;
	}

	div.elWork:nth-child(4) {
		margin-right: 2%;
	}

	.textAfterWork {
		margin-bottom: 0;
		margin-top: 5px;
	}

	.numberStepWork {
		width: 20px;
		height: 20px;
		top: -10px;
		left: -8px;
	}

	.wrpTextWork {
		padding: 15px 12px 12px 12px;
	}

	.numberStepWork p {
		font-size: 10px;
		margin-top: -7px;
	}

	p.textWork {
		font-size: 14px;
	}

	p.textAfterWork {
		font-size: 10px;
		margin-top: 5px;
	}

	.wrpTextWork::after {
		right: -24%;
		width: 24%;
	}

	.wrpTextWork::before {
		right: -67%;
		border: 5px solid transparent;
		border-left: 10px solid #fff;
		top: 41%;
	}

	.lastTextWork::after {
		background-color: transparent;
		width: 0;
		height: 0;
	}

	.lastTextWork::before {
		border: none;
	}

	.wrpSlider h1 {
		font-size: 20px;
	}

	.preferences p {
		display: block;
	}

	.prefEm {
		font-size: 14px;
		line-height: 25px;
		padding-left: 0;
		padding-top: 10px;
	}

	.wrpThisWork h3 {
		font-size: 16px;
		width: 90%;
	}

	.wrpThisWork .selectRepair {
		font-size: 20px;
	}

	.wrpThisWork .button-blue:hover {
		border: 2px solid #2980b9;
		color: #0c9eef;
	}

	.wrpThisWork .button-green:hover {
		border: 2px solid #00c569;
		color: #00c569;
	}

	.wrpThisWork .selectRepair {
		margin: 0 auto;
	}

	table span.hideDotted {
		font-size: 15px;
	}

	table .priceDiff span {
		font-size: 15px;
	}
}

@media (max-width: 780px) {
	.textWork {
		font-size: 16px;
	}

	.textAfterWork {
		font-size: 16px;
	}

	.suggestions-input {
		padding-right: 45px;
	}
}

@media (max-width: 590px) {
	.textWork {
		font-size: 13px;
	}

	.textAfterWork {
		font-size: 13px;
	}
}

@media (min-width: 980px) {
	.wrpTextWork::after {
		right: -53%;
		width: 53%;
	}

	.step table.diffTable {
		width: 50%;
	}
}

@media (min-width: 1150px) {
	.step table.diffTable {
		width: 40%;
	}
}

/***********End landing Img ************/

.colorGreen {
	color: #2ecc71;
}

.menu-master {
	padding: 10px 20px;
}

.menu-master img {
	float: left;
	width: 50px;
	border: 3px solid;
	border-radius: 50px;
}

/********Balance********/

.wrpBalance h5 {
	font-weight: 100;
	font-size: 24px;
}

.wrpBalance h5 a {
	cursor: pointer;
	color: #fff;
	border-bottom: 1px dotted #fff;
	border-width: 2px;
}

.balanceButton {
	width: 100%;
}

.wrpFormInputs {
	margin-top: 5px;
}

.balanceInput input {
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

.balanceBtn {
	display: inline-block;
	margin-left: 20px;
}

.wrpBalance .error.static-notification-red {
	width: 300px;
	margin: 0 auto;
}

.balanceBtn input {
	height: 45px;
	line-height: 26px;
	width: 175px;
}

.agent-report-form select {
    margin: 20px;
    display: inline-block;
    width: 35%;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
    border: solid 1px #cacaca;
    color: #666666;
    margin-top: -1px;
    border-radius: 0;
    font-size: 16px;
}

@media (max-width: 480px) {
	.wrpBalance h5 {
		font-size: 16px;
	}

	.brForm {
		margin-top: 0;
	}

	.balanceBtn input {
		width: 130px;
		font-size: 14px;
	}

	.wrpBalance .error.static-notification-red {
		width: 100%;
		margin: 0 auto;
	}

	.agent-report-form select {
		display: block;
		width: 85%;
	}

	.step table.diffTable {
		width: 100%;
	}

	.wrpOrderDetails .repairs-table td.table-sub-title,
	.wrpOrderDetails .parts-table td.table-sub-title,
	.wrpOrderDetails table.resTable tr td:first-child {
		padding-left: 5px;
	}

	.wrpOrderDetails .repairs-table tr td:last-child,
	.wrpOrderDetails table.parts-table tr td:last-child,
	.wrpOrderDetails table.resTable .cancel-order-td {
		width: 16%;
	}

}

@media (min-width: 768px) {
	.wrpBalance {
		margin-left: 25%;
		margin-right: 25%;
	}
}

/********End Balance********/
.delete-btn {
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position-x: 10px;
}

input[type="checkbox"] {
	display: inline-block;
	margin-right: 5px;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
}

.static-text span {
	color: #FFFFFF !important;
}

.text-white {
	color: #FFFFFF
}

.text-red {
	color: rgb(211, 5, 5);
}

.payment-rules-btn {
	padding: 0 10px;
	line-height: 40px;
}

.qtyInput {
	width: 60px;
}

input.centered,
select.centered {
	margin: 0 auto;
}

.selCount {
	padding-left: 10px;
	padding-right: 10px;
	text-indent: 10px;
}

.score i {
	color: #FFDC00;
}

.coverpage-button.active {
	border: 2px solid #2ecc71 !important;
	border-radius: 8px !important;
}

.reviewBonusBlock .wrpSugData {
	height: inherit;
}

#app h1, #app h2, #app h3,
#app h4, #app h5, #app h6,
#app div.wrpPreferences h1 {
	color: #FFFFFF;
}

#app .wrpThisWork h1,
#app .wrpThisWork h3,
#app .logoSlider h1,
#app .wrpSlider h1,
#app .wrpSlider h4 {
	color: #464646;
}

div.Tokenize {
	padding: 0;
	border: none;
}

.overflVis {
	overflow: visible;
}

.multipleSelWrp .balanceInput {
	display: inline-block;
	width: 45%;
}

.multipleSelWrp, .multipleSelWrp .balanceInput,
.chosen-container {
	overflow: visible;
}

.multipleSelWrp div.Tokenize ul.TokensContainer li.Token {
		line-height: 13px;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.couponBlock {
	margin-top: 20px;
}

.couponInfo {
	float: right;
}

.stepThree .wrpSugData {
	height: 90px;
}

.couponBlock .loadingSpiner {
	margin: 0px;
}

.couponBlock .wrapperDataInput {
    margin-top: 15px;
}

.couponBlock h4 {
	line-height: initial;
}

.couponBlock .greenText {
    color: #27ae60;
}

.rejectComments {
	margin-bottom: 10px;
}

.selectedBtn {
	border: 1px solid #7D7D7D;
	color: #7D7D7D;
}

.selectedOrderRow span, .selectedOrderRow a, .selectedOrderRow p {
	color: #7D7D7D;

}

.partsOrder .delete-btn {
	margin-bottom: -6px;
	cursor: pointer;
}

.attentionComment {
	font-size: 16px;
	font-weight: lighter;
}

table.bordered tr {
	border-bottom: 1px solid #fff;
}

table.bordered {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

table.bordered td{
	border-right: 1px solid #fff;
}

.wrpBalance h5 a.myFinancesBalanceLink{
	color: #3498db;
    border-bottom: 1px dotted #3498db;
	border-width: 2px;
}

div h5.storageName {
	line-height: normal;
	margin: 15px 0;
}

table.diffTable {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.step table.diffTable td {
	border-bottom: 2px dotted #fff;
	padding: 20px 0 0 0;
	position: relative;
	font-size: 15px;
}

.hideDotted {
	display: inline-block;
    position: absolute;
    background-color: #304457;
	top: 10px;
	padding-right: 5px;
}

.priceDiff span {
	display: inline-block;
    position: absolute;
    background-color: #304457;
	top: 10px;
	right: 0;
	padding-left: 5px;
}

/*table.diffTable td {
	padding-left: 0;
	padding-right: 0;
}

table.diffTable .dashedSeparator {
	position: relative;
	top: 0;
	left: 10px;
}*/

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.demos .inputData.startTimeSell {
		text-indent: 12px;
	}
	.demos .inputData.endTimeSell {
		text-indent: 14px;
	}
}
