{% extends 'base.html' %}
{% load staticfiles compress i18n %}

{% block content %}
<div class="content">
    <div id="app">
        <div class="decoration"></div>
        <div class="container no-bottom">
            <!-- Page Columns-->
        	<div class="one-half-responsive">
                <p class="thumb-left no-bottom wrapContentAbout">
                    <img src="{% static 'images/pictures/convivence.' %}jpg" alt="img">
                    <em>
                        <strong>
                            {% trans 'Комфорт' %}
                        </strong>
                        <br>
                        {% trans 'Сайт' %} <strong class="strongNameSite">fixland.ru</strong> {% trans 'сделан для быстрого вызова сертифицированного мастера в удобное для вас время и место для ремонта вашего телефона или планшета' %}
                    </em>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">
                <p class="thumb-right no-bottom wrapContentAbout">
                    <img src="{% static 'images/pictures/perfomance.' %}jpeg" alt="img" class="dsplNone">
                    <em>
                        <strong>{% trans 'Скорость' %}</strong>
                        <br>
                        {% trans 'С нашими мастерами вы можете быть уверены в профессиональном ремонте вашего телефона в вашем присутствии в течение 20-30 минут' %}</em>
                    <img src="{% static 'images/pictures/perfomance.' %}jpeg" alt="img" class="dsplBlck">
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
        	<div class="one-half-responsive">
                <p class="thumb-left no-bottom wrapContentAbout">
                    <img src="{% static 'images/pictures/profesional.' %}png" alt="img">
                    <em><strong>{% trans 'Профессионализм' %}</strong><br>{% trans 'Все наши мастера проходят серьёзное обучение, по результатам которого сдают экзамены и получают сертификат мастера по ремонту электронных девайсов' %}</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">
                <p class="thumb-right no-bottom wrapContentAbout">
                    <img src="{% static 'images/pictures/varrenty.' %}png" alt="img" class="dsplNone witoutWidth">
                    <em><strong>{% trans 'Гарантия' %}</strong><br>{% trans 'Мы используем только запасные части и материалы класса original (самого высокого качества) и даём 3 года гарантии на работу наших мастеров и на установленные запчасти' %}</em>
                    <img src="{% static 'images/pictures/varrenty.' %}png" alt="img" class="dsplBlck witoutWidth">
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>
            <div class="one-half-responsive last-column">
                <p class="thumb-left no-bottom wrapContentAbout">
                    <img src="{% static 'images/pictures/for_sale.' %}jpg" alt="img">
                    <em><strong>{% trans 'Продажа' %}</strong><br>{% trans 'Также на нашем сайте вы можете быстро продать свой старый девайс. Наш курьер приедет в удобное для вас время и место и выкупит ваше устройство по установленной на сайте цене' %}</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
        </div>
        <div class="decoration"></div>
    </div>
</div>
{% endblock %}
