{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
            <li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
            <li>{% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="grp-object-tools">
                {% block object-tools-items %}
                    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                    <li><a href="{% add_preserved_filters history_url %}">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="grp-state-focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}<div id="content-main">
<fieldset class="module aligned {{ fieldset.classes }}">
    <h2>{% trans 'Заказчик' %}</h2>
    {% if original.user %}
        <div class="form-row">
            <div>
                <label><a href="{% url 'admin:accounts_user_change' original.user.id %}">{% trans 'Ссылка' %}</a></label>
            </div>
        </div>
    {% endif %}
    <div class="form-row">
        <div>
            <label>{% trans 'Пользователь' %}:</label>
            <div class="related-widget-wrapper">
                {{original.user.get_full_name}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>{% trans 'Телефон' %}:</label>
            <div class="related-widget-wrapper">
                {{original.user.get_phone_number}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>{% trans 'Тип телефона' %}:</label>
            <div class="related-widget-wrapper">
                {{original.user.get_phone_type_display}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>Email:</label>
            <div class="related-widget-wrapper">
                {{original.user.email}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div>
            <label>{% trans 'Адрес' %}:</label>
            <div class="related-widget-wrapper">
                {{original.address}}
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="module aligned {{ fieldset.classes }}">
    <h2>Адрес из dadata' %}</h2>
    {% if original.address.any_dadata_exists %}
        <div class="form-row">
            <div>
                <label>{% trans 'Страна' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.country}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Регион' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.region}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Город' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.city}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Индекс' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.zip_code}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Улица' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.street}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Дом' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.house}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Квартира' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.address.appartment}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Метро' %}:</label>
                <div class="related-widget-wrapper">
                    {% if original.address.metro %}
                        {{original.address.metro}}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="form-row">
            <div>
                <label>{% trans 'Данных нет' %}</label>
            </div>
        </div>
    {% endif %}
</fieldset>
<fieldset class="module aligned {{ fieldset.classes }}">
    <h2>Купон' %}: {% if not original.coupon %}{% trans 'нет' %}{% endif %}</h2>
    {% if original.coupon %}
        <div class="form-row">
            <div>
                <label><a href="{% url 'admin:orders_coupon_change' original.coupon_id %}">{% trans 'Ссылка' %}</a></label>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Код купона' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.coupon.code}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div>
                <label>{% trans 'Скидка' %}:</label>
                <div class="related-widget-wrapper">
                    {{original.discount}}
                </div>
            </div>
        </div>
    {% endif %}
</fieldset>
<fieldset class="module aligned {{ fieldset.classes }}">
    <h2><a href="{% url 'notify_masters_about_new_order' original.id %}">{% trans 'Повторная рассылка' %}</a></h2>
    {% if original.parent %}
        <h2><a href="{% url 'admin:orders_repairorder_change' original.parent.id %}">{% trans 'Старый заказ' %} №{{original.parent.number}}</a></h2>
    {%  endif %}
</fieldset>
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(django.jQuery);
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
