{% extends 'base.html' %}
{% load staticfiles compress %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    <div id="app"></div>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/inputmask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/jquery.inputmask.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.React.render(React.createElement(window.Login), document.getElementById('app'));
    </script>
{% endblock %}
