{% extends 'base.html' %}
{% load staticfiles compress %}

{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/vendors/suggestions-15.4.css'  %}"rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="breadcrumbs"></div>
    <div id="app" class="mrTop"></div>
{% endblock %}

{% block extra_scripts %}

    <script type="text/javascript">
        window.DEVICES = {{ devices|safe }};
        window.STATUSES = {{ statuses|safe }};
    </script>
    <script src="https://maps.google.com/maps/api/js?v=3&region=ru&language=ru&hl=ru&sensor=true&key={{ GOOGLE_MAPS_API_KEY }}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/jquery.suggestions-15.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/inputmask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/jquery.inputmask.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/app.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.ReactRouter.run(window.sellRoutes, function (Handler, state) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
            var route = state.routes[state.routes.length-1].name;
            window.React.render(React.createElement(window.sellBreadcrumbs, {params: state.params, route: route, sell: true}), document.getElementById('breadcrumbs'));
        });
    </script>

{% endblock %}
