.wrpHIW {
	text-align: center;
}

.wrpHIW  h1 {
	color: #fff;
	font-size: 28px;
}

.wrpHIW  h2 {
	text-align: left;
	color: #fff;
	margin: 25px;
	margin-left: 10%;
}

.elHIW {
	display: inline-table;
	border: 3px solid #fff;
	border-radius: 15px;
	width: 20%;
	margin: 0 30px;
	height: 90px;
	padding: 0px 15px;
	vertical-align: top;
	overflow: auto;
}

.elHIW:nth-child(5):before, .elHIW:nth-child(5):after {
	display: none;
}

.elHIW:nth-child(13), .elHIW:nth-child(14) {
	margin-top: 55px;
}

.elHIW:nth-child(14):after {
	width: 30px;
	right: -32px;
}

.elHIW:nth-child(14):before {
	height: 113px;
	border: none;
	border-left: none;
	background-color: #fff;
	width: 3px;
	right: -32px;
	top: -15px;
}

.elHIW p {
	color: #fff;
	line-height: inherit;
	font-size: 18px;
	margin-bottom: 0;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.wrpElHIW {
	display: inline-block;
	width: 20%;
	margin: 0 30px;
	overflow: visible;
}

.wrpElHIW .elHIW {
	width: 100%;
	margin: 0;
	overflow: visible;
}

.wrpElHIW .elHIW:first-child {
	margin-bottom: 20px;
}

.wrpElHIW .elHIW:first-child:after, .wrpElHIW .elHIW:last-child:after {
	position: absolute;
	content: "";
	width: 30px;
	height: 3px;
	background-color: #fff;
	top: 48%;
	left: -39px;
}

.wrpElHIW .elHIW:first-child:before, .wrpElHIW .elHIW:last-child:before {
	right: 0;
	left: -17px;
}

.elHIW:after {
	position: absolute;
	content: "";
	top: 48%;
	right: -60px;
	height: 3px;
	background-color: #fff;
	width: 60px;
}

.elHIW:before {
	position: absolute;
	content: "";
	top: 38%;
	right: -71px;
	border: 10px solid transparent;
	border-left: 10px solid #fff;
}

.elHIW:nth-child(9):after {
	position: absolute;
	content: "";
	top: 87px;
	right: 50%;
	height: 95px;
	background-color: #fff;
	width: 3px;
}

.elHIW:nth-child(9):before {
	right: 50%;
	top: 180px;
	width: 25px;
	border: none;
	border-left: none;
	width: 20px;
	height: 3px;
	background-color: #fff;
}

.elHIW:nth-child(11):after {
	right: 0;
	left: -60px;
}

.elHIW:nth-child(11):before, .elHIW:nth-child(10):before {
	border: 10px solid transparent;
	border-right: 10px solid #fff;
	right: -17px;
}

.elHIW:nth-child(10):after {
	background-color: transparent;
	border-bottom: 3px solid #fff;
	border-bottom-style: dashed;
	width: 40px;
	right: 0;
	left: -40px;
}

.elHIW .additional {
	overflow: visible;
	width: 100%;
	height: 100%;
}

.elHIW .additional:before {
	position: absolute;
	content: "";
	top: -49px;
	height: 90px;
	background-color: transparent;
	border-left: 3px solid #fff;
	border-left-style: dashed;
	left: -55px;
}

.elHIW .additional:after {
	position: absolute;
	content: "";
	top: -60px;
	left: -63px;
	border: 9px solid transparent;
	border-bottom: 9px solid #fff;
}

.elHIW:nth-child(10), .elHIW:nth-child(11) {
	margin-top: 50px;
}

@media (max-width: 660px) {
	div.elHIW p {
		font-size: 12px;
	}

	div.elHIW {
		padding: 0;
		margin: 0 10px;
		width: 25%;
	}

	.elHIW:after {
		width: 20px;
		right: -20px;
	}

	.elHIW:before {
		top: 42%;
		right: -31px;
		border: 6px solid transparent;
		border-left: 6px solid #fff;
	}

	.elHIW:nth-child(10):after {
		width: 20px;
		left: -23px;
	}

	.elHIW .hide:before {
		left: -30px;
	}

	.elHIW .hide:after {
		left: -35px;
		border: 6px solid transparent;
		border-bottom: 6px solid #fff
	}

	.elHIW:nth-child(11):after {
		left: -20px;
	}

	.elHIW:nth-child(11):before, .elHIW:nth-child(10):before {
		border: 6px solid transparent;
		border-right: 6px solid #fff;
		right: -11px;
	}

	.elHIW:nth-child(9):after, .elHIW:nth-child(9):before {
		right: 38%;
	}

	.wrpElHIW {
		margin: 0 10px;
		width: 25%;
	}

	.elHIW:nth-child(14):after {
		width: 15px;
		right: -15px;
	}

	.elHIW:nth-child(14):before {
		right: -15px;
	}

	.wrpElHIW .elHIW:first-child:after, .wrpElHIW .elHIW:last-child:after {
		width: 10px;
		left: -17px;
	}

	.wrpElHIW .elHIW:first-child:before, .wrpElHIW .elHIW:last-child:before {
		left: -11px
	}

	.elHIW .additional:before {
		left: -23px;
	}

	.elHIW .additional:after {
		left: -31px;
	}
}

@media (max-width: 480px) {
	.elHIW p {
		line-height: initial;
		padding: 0 5px;
		font-size: 10px;
	}

	div.elHIW {
		border-width: 2px;
		margin: 0 5px;
	}

	.elHIW:after {
		height: 2px;
		width: 15px;
		right: -15px;
	}

	.elHIW:before {
		top: 43%;
		right: -20px;
		border: 5px solid transparent;
		border-left: 5px solid #fff;
	}

	.elHIW:nth-child(9):after {
		width: 2px;
	}

	.elHIW:nth-child(9):before {
		height: 2px;
		width: 13px;
	}

	.elHIW:nth-child(11):before, .elHIW:nth-child(10):before {
		border: 5px solid transparent;
		border-right: 5px solid #fff;
		right: -6px;
		top: 42%;
	}

	.elHIW:nth-child(11):after {
		left: -15px;
		top: 47%;
	}

	.elHIW:nth-child(10):after {
		width: 15px;
		left: -17px;
		border-bottom: 2px dashed #fff;
	}

	.elHIW .hide:before {
		left: -22px;
		border-left: 2px dashed #fff;
	}

	.elHIW .hide:after {
		left: -27px;
		top: -57px;
		border: 5px solid transparent;
		border-bottom: 5px solid #fff
	}

	.elHIW:nth-child(14):before {
		width: 2px;
		right: -10px;
		height: 112px;
		top: -14px;
	}

	.elHIW:nth-child(14):after {
		width: 10px;
		right: -10px;
	}

	.wrpElHIW .elHIW:first-child:after, .wrpElHIW .elHIW:last-child:after {
		height: 2px;
		left: -12px;
	}

	.wrpElHIW .elHIW:first-child:before, .wrpElHIW .elHIW:last-child:before {
		left: -7px
	}

	.wrpHIW h2 {
		font-size: 14px;
	}

	.elHIW .additional:before {
		left: -17px;
		border-width: 2px;
	}

	.elHIW .additional:after {
		left: -21px;
		border-width: 5px;
		top: -57px;
	}
}

@media (min-width: 1350px) {
	.content.wrpHIW {
		margin-left: 25%;
		margin-right: 25%;
	}
}
