{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% block content %}
    {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
    <h1>Импорт услуг</h1>
    <form enctype="multipart/form-data" action="" method="post" novalidate="">
        {% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ form.form.non_field_errors }}
            {% endif %}
            <fieldset class="module aligned ">
                <div class="form-row {% if form.file.errors %} errors{% endif %} field-file">
                {{form.file.errors}}
                {{form.file}}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Отправить' %}" class="default">
        </div>
    </form>
{% endblock %}